<div class="container">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-6 col-lg-6">

            <h2>My Heroes</h2>
            
            <div>
              <h1>{{ 'title' }}</h1>
              <p>{{ 'text' }}</p>
            </div>
            
            
            <ul class="heroes">
              <li *ngFor="let hero of heroes; let i = index" (click)="onSelect(hero)">
                <span class="badge">{{hero.id}}</span> {{hero.name}}
                <ngx-skeleton-loader count="heroes.length" appearance="line" animation='progress-dark'></ngx-skeleton-loader>
              </li>
            </ul>
            
            <app-hero-detail [hero]="selectedHero"></app-hero-detail>
            
            
            <button type="button" routerLink="/customers">Customers</button>
            <button type="button" routerLink="/orders">Orders</button>
            <button type="button" routerLink="">Home</button>
      </div>



      <div class="col-md-6 col-lg-6">


        <h2>Skeleton loader examples</h2>

        <ngx-skeleton-loader count="3" appearance="circle"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="circle" animation="progress-dark"></ngx-skeleton-loader>

        <ngx-skeleton-loader count="2" appearance="line" animation="progress-dark"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="2" appearance="line" animation="progress" [theme]="{
            'background-color': '#FFBF00',
            height: '30px',
            'border-radius': 0
          }"></ngx-skeleton-loader>
      </div>
    </div>



  </div>
</div>